body {
  padding-bottom: 90px;
  position: relative;
}

.section {
  height: 100vh;
}

.fixed-nav {
  background-color: #ffff;
}

i {
  padding-top: 10px;
  color: black;
}

.img-tag {
  font-size: 20px;
}
