body {
  padding-bottom: 90px;
  position: relative;
  font-family: 'Open Sans Condensed', sans-serif;
}

.code {
  font-family: 'Source Code Pro';
  font-size: 80%;
}

.section {
  height: 100vh;
}

.fixed-nav {
  background-color: #ffff;
}

.topBar {
  color: black;
  margin-top: 20px;
}

.img-tag {
  font-size: 20px;
}

i {
  color: black;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profilePic {
  width: 200px;
  top: 50%;
  left: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.projectPic {
  width: 70%;
  margin-bottom: 10px;
}
