body {
  padding-bottom: 90px;
  position: relative;
  font-family: 'Open Sans Condensed', sans-serif;
}

.code {
  font-family: 'Source Code Pro';
  font-size: 80%;
}

.section {
  height: 100vh;
}

.fixed-nav {
  background-color: #ffff;
}

i {
  color: black;
  margin-top: 20px;
}

.img-tag {
  font-size: 20px;
}

.profilePic {
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

}

.festivalPic {
  height: 400px;
}
