
  <div id="about" class="container section text-center">
      <h1>Andrew C. Bass</h1>
      <h3> Full Stack Javascript Developer </h3>
    <img src="images/prof3.jpeg" alt="Profile" class="profile img-rounded">
    <h5> Redis | MongoDB | ExpressJS | AngularJS | Node.js </h4> 
  </div>



<div id="projects" class="container section">
  <hr>
  <h3>Projects</h3>
  <div class="row">
    <div class="col-xs-12 col-m-6">
      <h4>Fesival Go<small> - AngelHack Finalist </small></h4>
      <!-- <img src="images/festival-events.png" alt=""> -->
    </div>
  </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom fixed-nav">
  <div class="container">
    <div class="row text-center">
      <div ng-click="scroll('about')">
        <i class="fa fa-bicycle fa-3x col-xs-4" aria-hidden="true">
        </i>
      </div>
      <div ng-click="scroll('projects')">
        <i class="fa fa-laptop fa-3x col-xs-4" aria-hidden="true">
        </i>
      </div>

      <div>
        <a href="https://medium.com/@andrewcbass" tar>
          <i class="fa fa-medium fa-3x col-xs-4" aria-hidden="true">
          </i>
        </a>
      </div>
    </div>
  </div>
</nav>
