
  <div id="about" class="container section text-center">
      <h1>Andrew C. Bass</h1>
      <h4> Full Stack Javascript Developer </h4>
    <img src="images/prof3.jpeg" alt="Profile" class="profilePic img-rounded">
    <h5> Redis | MongoDB | ExpressJS | AngularJS | Node.js </h5>
  </div>


<div id="projects" class="container section text-center">
  <h3>Projects</h3>
  <h4>Fesival Go</h4>


</div>


<nav class="navbar navbar-default navbar-fixed-bottom fixed-nav">
  <div class="container">
    <div class="row text-center">
      <div ng-click="scroll('about')">
        <i class="fa fa-bicycle fa-3x col-xs-4" aria-hidden="true">
        </i>
      </div>
      <div ng-click="scroll('projects')">
        <i class="fa fa-laptop fa-3x col-xs-4" aria-hidden="true">
        </i>
      </div>

      <div>
        <a href="https://medium.com/@andrewcbass" tar>
          <i class="fa fa-medium fa-3x col-xs-4" aria-hidden="true">
          </i>
        </a>
      </div>
    </div>
  </div>
</nav>
