
  <div id="top" class="container section text-center">
    <div class="row">
      <a href="http://medium.com/@andrewcbass">
        <i class="fa fa-medium fa-lg col-xs-2" aria-hidden="true">
        </i>
      </a>
      <a href="http://twitter.com/andrewcbass">
        <i class="fa fa-twitter-square fa-lg col-xs-2" aria-hidden="true">
        </i>
      </a>
      <a href="https://www.linkedin.com/in/andrewcbass">
        <i class="fa fa-linkedin-square fa-lg col-xs-2" aria-hidden="true">
        </i>
      </a>
      <a href="https://github.com/andrewcbass">
        <i class="fa fa-github-square fa-lg col-xs-2" aria-hidden="true">
        </i>
      </a>
      <a href="mailto:me@andrewcbass.com">
        <i class="fa fa-envelope fa-lg col-xs-2" aria-hidden="true">
        </i>
      </a>
      <a href="http://andrewcbass.com/resumeACB.pdf">
        <i class="fa fa-file-text fa-lg col-xs-2" aria-hidden="true">
        </i>
      </a>
    </div>
    <hr>
      <h1>Andrew C. Bass</h1>

    <img src="images/prof3.jpeg" alt="Profile" class="profilePic img-rounded">
    <h3> Full Stack Javascript Developer </h3>
    <hr>
    <h4 class="code"> let dreams = (passion, hardWork) => reality </h4>
    <hr>
  </div>

<div id="about" class="container section text-center">
  <h2>About</h2>
  <p>Full Stack Javascript Developer</p>
  <h4>
    Building web applications with MEAN stack, Redis, and Amazon Web Services
  </h4>
  
  <img src="/images/bike.jpg" alt="Biclcle" class="img-rounded profilePic">

  <p> Bicycled from Canada to Argentina</p>
  <p> Drove from Scotland to Mongolia</p>
  <p> Motorcylced through SE Asia </p>

</div>

<div id="projects" class="container section text-center">
  <h3>Projects</h3>
  <div class="row">
    <h5 class="col-xs-4">Fesival Go</h5>
    <h5 class="col-xs-4">Pace Me</h5>
    <h5 class="col-xs-4">Star Game</h5>

  </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom fixed-nav">
  <div class="container">
    <div class="row text-center">
      <div ng-click="scroll('about')">
        <i class="fa fa-bicycle fa-3x col-xs-4" aria-hidden="true">
        </i>
      </div>
      <div ng-click="scroll('projects')">
        <i class="fa fa-laptop fa-3x col-xs-4" aria-hidden="true">
        </i>
      </div>
      <div ng-click="scroll('top')">
        <i class="fa fa-angle-double-up fa-3x col-xs-4" aria-hidden="true">
        </i>
      </div>
    </div>
  </div>
</nav>
